@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lilita+One&family=Oswald:wght@200;700&family=Yeseva+One&display=swap');

.container{
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(30, 2fr);
}
#content{
  background-color: white;
  height: 120vh; 
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 10;
  text-align: justify;
  margin: 40px;
}
#content1{
  background-color: white;
  height: 250vh; 
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 10;
  text-align: justify;
  margin: 40px;
}
#content2{
  background-color: white;
  height: 400vh; 
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 10;
  text-align: justify;
  margin: 40px;
  margin-bottom: -5%;
}
#footer{
  background-color: #468030;
  grid-row-start: 200;
  grid-row-end: 201;
  grid-column-start: 1;
  grid-column-end: 11;
  display: flex;
  justify-content: space-around;
  color:#F3A6A0;
  font-size: 25px;
  padding-top: 1%;
}
#footer a:hover{
  text-decoration: none;
  color :white;
  transition: .5s;
}
footer a {
  color: #F3A6A0;
  text-decoration:none;
  font-size: 25px;
}
footer p {
  color:  #F3A6A0;
  text-align:  center;
  padding-top: 15px;
  padding-left: 50px;
}
.img{
  width: 300px;
  max-width: 300px;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 9;
}
.img1{
  width: 250px;
  max-width: 300px;
  grid-row-start: 5;
  grid-row-end: 8;
  border-radius: 100%;
}
.img_codes{
  width: 500px;
  max-width: 600px;
  grid-column-start:8;
  grid-column-end: 10;
  grid-row-start: 8;
  grid-row-end: 10;
  float:right;
}
.title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 11;
  color: black;
}
.title1 {
  font-size: 40px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  grid-row-start:3;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 11;
}
.title2 {
  font-size: 40px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  grid-row-start:2;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 11;
}
.title_home {
  font-size: 40px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  grid-row-start:4;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 11;
}
.subtitle {
  font-weight: bold;
}
.hint {
  font-size: 30px;
  font-style: italic;
  color: #468030;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
}
#paragraph_study{
  text-align: justify;
  font-size: 25px;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 10;
  
}
#paragraph_codes{
  text-align: justify;
  font-size: 25px;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 10;
}
#paragraph_home{
  text-align: justify;
  font-size: 25px;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 10;
}
.paragraph1{
  text-align: justify;
  font-size: 20px;
  margin-top: 25px;
}

#study {
  color: #468030;
  text-decoration: none;
  font-size: 20px;
  margin-top: 13%;
  margin-left: 100%;
  font-family: 'Archivo Black', Arial, sans-serif;
}
header {
  display: grid;
  grid-template-columns: 150px auto;
} 
#codes {
  color: #468030;
  text-decoration: none;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 450px ;
  font-family: 'Archivo Black', Arial, sans-serif;
}
body{
  margin:0;
}
h1, h2, h3, h4, h5, p, span {
  margin :0;
  color:#666;
}
.container{
  max-width: 1600px;
  width: 100%;
}
header{
  position: relative;
  top: 0;
  height: auto;
  width: 100%;
}
nav{
  position:fixed;
  top:0;
  height: 100px;
  width:100%;
  z-index: 1;
  background-color: #F3A6A0;
  border-bottom: 1px solid #CCC;
  font-size:30px ;
}
img{
  width: 100px;
}
nav:after {
  clear:both;
  content: "";
  display: block;
}
.nav-container {
  max-width: 1200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
#logo {
  width: 50px;
  height: 50px;
  margin-top: 25px;
}
.nav-container ul {
  float: right;
  height: 100px;
  line-height: 100px;
  margin: 0;
}
.nav-container li{
  list-style: none;
  float:left;
  margin: 0 15px;
}
.nav-container li a{
  text-decoration: none;
  color :#468030;
  transition: .5s;
}
.nav-container li a:hover{
  text-decoration: none;
  color:white;
  transition: .5s;
}
footer .social img{
  padding-top: 0;
  width: 30%;
}
.materials{
  grid-row-start: 21;
  grid-row-end: 25;
  grid-column-start: 1;
  grid-column-end: 10;
}
.materials2{
  grid-row-start: 23;
  grid-row-end: 30;
  grid-column-start: 1;
  grid-column-end: 10;
}
.paragraph_home{
  grid-column-start: 1;
  grid-column-end: 8;
}
.sitename {
  font-family: 'Archivo Black',sans-serif, Arial;
}