@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@200;700&family=Yeseva+One&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
  }
nav a {
    text-align: center;
    color: navy;
    text-decoration: none;
    padding: 35px;
  }
#hero-msg h1, #hero-msg h4 {
    text-align: center;
  }
.button-box {
    text-align: center;
  }
main section {
    text-align: center;
  }
#background {
    height: 725px;
    background-color: white;
}
body {
  background-color: rgb(134, 194, 216);
  margin: 0;
  padding: 0;
}
header {
background-color: rgb(157, 198, 213);
}
nav a:hover {
background-color: white;
color:navy;
}
.book, .join {
background-color: white;
text-decoration: none;
padding: 15px 30px;
border-radius: 5px;
}
.book:hover, .join:hover {
background-color: navy ;
color: white;
}
.msg {
background-color: white;
line-height: 1.5em;
padding: 35px;
}
footer {
background-color: white;
}
.home-title {
color: navy;
font-family: 'Yeseva one', Arial, sans-serif;
font-size: 2em;
margin-top: 10px;
}
h4 {
color: navy;
}
.book, .join {
color: navy;
font-size: 18px;
margin-top: 50px;
}
.msg h2 {
color: navy;
font-family: 'Yeseva one', Arial, sans-serif;
margin: 0;
}
.msg p {
color: navy;
font-size: .8em;
padding-bottom: 15px;
}
footer {
color: navy;
padding: 25px 50px;
margin-top: 200px;
}
footer a {
color:navy;
text-decoration: none;
}
footer a:hover {
color: navy;
}
.logo {
  width: 80px;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
#hero-img {
  width: 100%;
}
footer p {
  font-size: 1.2em;
}    
footer p a:hover {
  text-decoration: underline;
}    
#logo_link {
  padding-top: 5px;
}
footer .social img {
  padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}
.card-img { 
border: 10px solid black;
}
main section img {
box-sizing: border-box;
}