@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lilita+One&family=Oswald:wght@200;700&family=Yeseva+One&display=swap');

#content {
  max-width: 1600px;
  font-family: 'Oswald', Arial, sans-serif;
}
main section {
  text-align: center;
  font-family: 'Oswald', Arial, sans-serif;
}
/* #background {
  height: 725px;
  background-color: white;
  grid-column: 1/11;
  grid-row: 4/9;
} */
.body-index {
  background-color: white;
  margin: 0%;
  padding: 0;
}
header {
  display: grid;
  grid-template-columns: 150px auto;
}
#codes:hover {
  color:#F3A6A0;
  background-color:#468030;
}
#study:hover {
  color:#F3A6A0;
  background-color:#468030;
}
footer {
  background-color: #468030;
  color: #F3A6A0;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}
footer a {
  color: #F3A6A0;
  text-decoration:none;
  font-size: 25px;
}
.logo {
  width: 80px;
  position:static;
  margin-left: -70px;
}
footer p {
  font-size: 1.2em;
}    
footer p a:hover {
  text-decoration: underline;
}    
#logo_link {
  justify-self: center;
  align-self: center;
}
footer .social img {
  padding-top: 15px;
}
nav {
  background-color: #F3A6A0 ;
  margin-left: -70px;
  height: 80px;
  width: 100;
  display: flex;
  justify-content: space-around;
}
/* .home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
} */
.title-question{
  text-align: justify;
  font-size: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  /* make this element invisible until we are ready for it */
  display: none;      
}
.moveDown {
    margin-top: 3em;
}
#sitename {
  color: #468030;
  font-size: 45px;
  font-family: 'Archivo Black', Arial, sans-serif;
  margin-left: 70px;
  margin-top: -70px;
  width: bold;
}
#headline {
  text-align: center;
  color: #468030;
  font-size: 15px;
  font-family: Arial, sans-serif;
  margin-left: 340px;
  margin-top: -85px;
}
#codes {
  color: #468030;
  text-decoration: none;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 450px ;
  font-family: 'Archivo Black', Arial, sans-serif;
  position: absolute;
}
#study {
  color: #468030;
  text-decoration: none;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 900px ;
  font-family: 'Archivo Black', Arial, sans-serif;
  position:absolute;
}
.title1 {
  font-size: 40px;
  margin-left: 30px;
  margin-right: 30px;

}
.subtitle {
  font-weight: bold;
}
.hint {
  font-size: 30px;
  font-style: italic;
  color: black;
}
.title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
#paragraph{
  text-align: justify;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 25px;
  margin-right: 600px;
}
#side-image{
  height: 40%;
  width: 20%;
  margin-left: 870px;
  position: absolute;
  margin-top: -550px;
}
#side-image2{
  height: 40%;
  width: 20%;
  margin-left: 1080px;
  position: absolute;
  margin-top: -330px;
}
#study1{
  height: 40%;
  width: 20%;
  margin-left: 975px;
  position: absolute;
  margin-top: -1400px;
}
#study2 {
  height: 40%;
  width: 20%;
  margin-left: 975px;
  position: absolute;
  margin-top: -1100px;
}
.paragraph1{
  text-align: justify;
  font-size: 20px;
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 30px;
}
#code2{
  height: 100%;
  width: 50%;
  margin-left: 800px;
  position: absolute;
  margin-top: -1300px;
}
#code1{
  height: 60%;
  width: 30%;
  margin-left: 950px;
  position: absolute;
  margin-top: -600px;
}
.link{
  margin-left: 30px;
  margin-right: 30px;
}






